@import 'variables/var';

.app-header {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.btn,
.btn-circular {
  &.primary {
    background-color: $taro !important;
    color: #fff !important;
    border: 0;
    &:hover {
      background-color: rgba($taro-dark, 0.8) !important;
    }
  }
  &.secondary {
    background-color: $taro-lightest !important;
    border: 0;
    outline: none;
    color: $taro !important;
    &:hover {
      background-color: rgba($taro-lighter, 0.4) !important;
    }
  }
}
