@import './variables/var';

:root {
  --color-primary: 95, 51, 186;
  --color-secondary: 253, 224, 71;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }
  body {
    font-size: 14px;
    color: $taro-darkest;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    vertical-align: initial;
  }
  label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
  }
  a {
    color: #6957eb;
  }
  button {
    &:focus,
    &:active {
      outline: 0 !important;
    }
  }
}

@layer components {
  .btn {
    @apply py-3 px-12 text-base font-bold rounded-full bg-gray-200 hover:bg-gray-300 #{!important};
  }
  .btn-circular {
    @apply m-0 h-12 w-12 text-base font-bold rounded-full text-center flex justify-center items-center bg-gray-200 hover:bg-gray-300 #{!important};
    .icon {
      @apply h-auto #{!important};
    }
  }
}
