:root {
  --color-primary: 95, 51, 186;
  --color-secondary: 253, 224, 71;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }
  body {
    font-size: 14px;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    vertical-align: initial;
  }
  label {
    display: inline-block;
    // font-size: 11px;
    // margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.5);
  }
  a {
    color: #6957eb;
  }
  button {
    &:focus,
    &:active {
      outline: 0 !important;
    }
  }
}

@layer components {
  .btn {
    @apply py-3 px-8 text-base text-white font-bold rounded-full bg-gray-500 hover:bg-gray-400;
  }
}
