@import 'variables/var';

.ant-table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  thead tr th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
}

.ant-pagination {
  li,
  button {
    height: 48px;
    width: 48px;
    border-radius: 50% !important;
    line-height: 48px;
    font-weight: bold;
  }
  .ant-pagination-item,
  button {
    border: 0 !important;
    background-color: $blackpaper-lightest !important;
  }
  button {
    color: $taro;
  }
  .ant-pagination-item a {
    color: $taro !important;
  }
  .ant-pagination-item-active {
    background-color: $taro !important;
    border: 0;
    a {
      color: #fff !important;
    }
  }
}
