$size0: 0px;
$size2: 2px;
$size4: 4px;
$size6: 6px;
$size8: 8px;
$size10: 10px;
$size12: 12px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size26: 26px;
$size32: 32px;
$size40: 40px;
$size42: 42px;
$size48: 48px;
$size58: 58px;
$size72: 72px;
$size80: 80px;
$size96: 96px;
$size100: 100px;
$sidebarSize: 120px;
$size120: 120px;
$size200: 200px;
$size260: 260px;
$size300: 300px;
$size480: 480px;

$sizes: (
  $size0,
  $size2,
  $size6,
  $size8,
  $size10,
  $size12,
  $size14,
  $size16,
  $size18,
  $size20,
  $size22,
  $size24,
  $size26,
  $size32,
  $size40,
  $size42,
  $size48,
  $size58,
  $size72,
  $size80,
  $size96,
  $size100,
  $size120,
  $size200,
  $size260,
  $size300,
  $size480
);

$defaultFontSize: $size14;

$extraTiny: 32px;
$semiTiny: 38px;
$tiny: 72px;
$small: 144px;
$medium: 160px;
$large: 180px;
$extraLarge: 240px;
$extraXLarge: 320px;
$extraXXLarge: 344px;

$extraTinyWidth: $extraTiny;
$semiTinyWidth: $semiTiny;
$tinyWidth: $tiny;
$smallWidth: $small;
$mediumWidth: $medium;
$largeWidth: $large;
$extraLargeWidth: $extraLarge;

$tinyHeight: $extraTiny;
$smallHeight: $semiTiny; // used as default height, change this value carefully

$dropdownSmallWidth: 240px;
$dropdownLargeWidth: $extraXXLarge;

$borderRadius: 4px;

$paddingModal: 32px;
$paddingDefault: 16px;

$sizeImagePreview: 255px;

$paddingLeftRightCEContent: $size24;
$paddingTopCEContent: $size24;
