$seasalt-darkest: #003033;
$seasalt-darker: #006266;
$seasalt-dark: #009499;
$seasalt: #00c6ce;
$seasalt-light: #33fbff;
$seasalt-lighter: #97fcff;
$seasalt-lightest: #e9fcfc;
$taro-darkest: #1f103c;
$taro-darker: #331b64;
$taro-dark: #48268c;
$taro: #5f33ba;
$taro-light: #7f4fe3;
$taro-lighter: #c2afe9;
$taro-lightest: #f0ebfa;
$black: #000000;

// Secondary
$chili-darkest: #6b2000;
$chili-darker: #a03000;
$chili-dark: #cc3c00;
$chili: #ff5f1d;
$chili-light: #fd8d62;
$chili-lighter: #ffbea4;
$chili-lightest: #fff2ec;
$pandan-darkest: #005330;
$pandan-darker: #007645;
$pandan-dark: #00a460;
$pandan: #00c572;
$pandan-light: #0cea8c;
$pandan-lighter: #99f5ca;
$pandan-lightest: #e1fff1;
$paprika-darkest: #570011;
$paprika-darker: #830119;
$paprika-dark: #c70226;
$paprika: #ff2750;
$paprika-light: #ff6686;
$paprika-lighter: #ffc4d5;
$paprika-lightest: #ffeef3;
$turmeric-darkest: #603600;
$turmeric-darker: #a65c00;
$turmeric-dark: #e68c00;
$turmeric: #ffb000;
$turmeric-light: #ffd066;
$turmeric-lighter: #ffe098;
$turmeric-lightest: #fff8e9;

// Netural
$pepper-darkest: #000000;
$pepper-darker: #444444;
$pepper-dark: #666666;
$pepper: #888888;
$pepper-light: #aaaaaa;
$pepper-lighter: #f4f4f4;
$pepper-lightest: #ffffff;
$shallot-darkest: #231e2e;
$shallot-darker: #3d3450;
$shallot-dark: #594d75;
$shallot: #6c608a;
$shallot-light: #9a8db8;
$shallot-lighter: #d5cfe3;
$shallot-lightest: #ebe8f1;
